.more-popup {
    font-size: 14px;
    position: fixed;
    left: 20px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 17px;
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.anchor {
    margin: 13px 8px;
}